.yellow {
    background: #fce373;
    text-align: center;
    padding: 50px;
    border-width: 10px;
    border-color: red;
    border-width: 2px;
    min-height: 0;
    z-index: 15;
}

.page {
    height: 100%;
    /* padding: 5%; */


}

.font {
    font-size: x-large;
    font-family: sans-serif;
}

  /* Create two equal columns that floats next to each other */
.col {
    float: left;
    box-sizing: border-box;


    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    width: auto;
    
    
    clear: both;
  }
  /* side bar properties */
  .sidenav {
    height: 100%;
    width: px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    height: 100%;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  /* side bar property ends here */
  /* hambuger with animation */



  .burger {
    display:inline-flex;
    cursor: pointer;
    border-radius: 5px;
    border-color: #c41a1a;
    border-width: 1px;

  }
  
  .bar1, .bar2, .bar3 {
    width: 25px;
   
    height: 5px;
    background-color: rgba(226, 223, 26, 0.87);
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  /* it end here */
