<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard template</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/index.js"></script>
</head>

<body>
    <nav class="sidenav">
        <a href="#Museum">Musuem</a>
        <a href="\buyticket">Buy ticket</a>
        <a class="burger" onclick="myFunction(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </a>

        <a href="\login">search</a>
        <a href="#Upcoming event">upcoming event </a>

    </nav>

    <main class="main">


        <div class="yellow font">

            <p><b>Welcome</b></p>
        </div>

        <div class="row">

            <div class="col" style="background-color: red;">
                hello
            </div>
            <div class="col" style=" background-color:yellow;">
                bye bye
            </div>

        </div>
        <div class="" style="background-color: yellow;">hello</div>

    </main>
</body>

</html>